<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <section id="about">
        <div class="container-about">
            <h1>About Us</h1>
            <p>Welcome to Wahala shop the ultimate destination for stylish and affordable clothing.
                We believe that everyone deserves to feel confident and comfortable in their own skin</p>

            <div class="info-grid">
                <!-- Mission -->
                <div class="info-item">
                    <div class="icon">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <h2>Mission</h2>
                    <p>At Wahala shop we are passionate about empowering individuals through fashion. We create high-quality, 
                        and sustainable clothing that boosts confidence and embraces ethical practices.</p>
                    <button>Read more</button>
                </div>

                <!-- Vision -->
                <div class="info-item">
                    <div class="icon">
                        <i class="fa-solid fa-earth-asia"></i>
                    </div>
                    <h2>Vision</h2>
                    <p>We aspire to become a global fashion icon known for innovation 
                        We strive to provide empowering fashion for all, regardless of shape, while leading the industry towards a more responsible path.</p>
                    <button>Read more</button>
                </div>

                <!-- Achievements -->
                <div class="info-item">
                    <div class="icon">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                    <h2>Achievements</h2>
                    <p>Along our journey, we have achieved significant milestones, including:
                        Launching an eco-friendly collection
                        Expanding into multiple countries
                        Receiving recognition for our ethical production.</p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Menu</h3>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./shop.html">Shop</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./Contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">New arrivals</a></li>
                    <li><a href="men.html">Men</a></li>
                    <li><a href="women.html">Women</a></li>
                    <li><a href="kids.html">Kids</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Contact Support</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Social Media</h3>
                <ul>
                    <li><i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a></li>
                    <li><i class='bx bxl-twitter' ></i><a href="#">Twitter</a></li>
                    <li><i class='bx bxl-instagram' ></i><a href="#">Instagram</a></li>
                    <li><i class='bx bxl-pinterest'></i><a href="#">Pinterest</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Wahala shop | Powered by Clothing Store</p>
        </div>
    </footer>
</body>
</html>