<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <div class="container">
        <div style="text-align:center">
          <h2>Contact Us</h2>
          <p>We're here to help you! If you have any questions, need assistance with an order, or simply want to give feedback, <span>feel free to reach out to us. Our team will get back to you as soon as possible.</span></p>
        </div>
        <div class="contact">
          <div class="column">
            <form>
              <label for="text  ">Enter email address*</label>
              <input type="text" id="fname" name="gmail" placeholder="@example.com">
              <label for="name">Enter your name</label>
              <input type="text" id="lname" name="lastname" placeholder="Name">
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
                <option value="Cambodia">Cambodia</option>
              </select>
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
    </div>
    <footer>
      <div class="footer-container">
          <div class="footer-column">
              <h3>Menu</h3>
              <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="./shop.html">Shop</a></li>
                  <li><a href="./about.html">About Us</a></li>
                  <li><a href="./Contact.html">Contact Us</a></li>
              </ul>
          </div>
          <div class="footer-column">
              <h3>Categories</h3>
              <ul>
                  <li><a href="#">New arrivals</a></li>
                  <li><a href="men.html">Men</a></li>
                  <li><a href="women.html">Women</a></li>
                  <li><a href="kids.html">Kids</a></li>
              </ul>
          </div>
          <div class="footer-column">
              <h3>Resources</h3>
              <ul>
                  <li><a href="#">Contact Support</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Live Chat</a></li>
                  <li><a href="#">Returns</a></li>
              </ul>
          </div>
          <div class="footer-column">
              <h3>Social Media</h3>
              <ul>
                  <li><i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a></li>
                  <li><i class='bx bxl-twitter' ></i><a href="#">Twitter</a></li>
                  <li><i class='bx bxl-instagram' ></i><a href="#">Instagram</a></li>
                  <li><i class='bx bxl-pinterest'></i><a href="#">Pinterest</a></li>
              </ul>
          </div>
          <section class="contact-info">
            <h3>Customer Support</h3>
              <ul>
                <li><p>Email: <a href="#">spp@wahalashop.com</a></p></li>
                <li><p>Phone: <a href="#">+885-6726-5084</a></p></li>
                <li><p>Hours: Monday-Friday,7AM-7PM</p></li>
              </ul>
          </section>
      </div>
  </footer>
</body>
</html>