<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="../css/shop.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#"><img src="../asset/logo/Fremovebg-preview.png" alt="logo"></a></div>
            <ul>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <select name="Menu" id="Menu">
                    <option value="menu">MENU</option>
                    <option value="men">MEN</option>
                    <option value="girl">GIRL</option>
                    <option value="baby">BABY</option>
                </select>
                <li><a href="./Contact.html">CONTACT</a></li>
                <li><a href="./about.html">ABOUT</a></li>
            </ul>
            <div class="search-bar"> 
                <input type="text" placeholder="Search"> 
                <div class="search"> 
                    <i class='bx bx-search' style="font-size: 24px;"></i>
                </div> 
            </div>
                <div class="icon-top">
                    <i class="bx bx-user-circle" style="font-size: 24px;"></i>
                    <i class="bx bx-shopping-bag" style="font-size: 24px;"></i>
                    <i class='bx bx-support' style="font-size: 24px;"></i>
                </div>
            </div>
        </div>
        <h1>My Store</h1>
    </header>
    <section class="products-grid">
        <!-- Product 1 -->
        <div class="product-card">
            <div class="badge new">Best Seller</div>
            <img src="../asset/shop/khmer wdding.avif" alt="Women's Elizabeth Coat">
            <h2> Traditional khmer Clothing Set </h2>
            <p><span class="discount">$1200.00</span> $999.99</p>
            <div class="rating">★★★★★ (1.267 Review)</div>
            <button>Buy Now</button>
        </div>

        <!-- Product 2 -->
        <div class="product-card">
            <div class="badge new">Discount -40%</div>
            <img src="../asset/shop/blue dress.avif" alt="Ardene Microfiber Tights">
            <h2>Blue dress made in france</h2>
            <p><span class="discount">$255.50</span> $149.99</p>
            <div class="rating">★★★★ (200 Review)</div>
            <button>Buy Now</button>
        </div>

        <div class="product-card">
            <div class="badge new">Mega sell</div>
            <img src="../asset/shop/shirt.jpg" alt="Ardene Microfiber Tights">
            <h2> Cityscape Graphic Tee</h2>
            <p><span class="discount">$25.50</span> $10.50</p>
            <div class="rating">★★★★★ (1134 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">Discount -25%</div>
            <img src="../asset/shop/babyrshirt.jpeg" alt="Ardene Microfiber Tights">
            <h2>Student shirt </h2>
            <p><span class="discount">$10.50</span> $7.50</p>
            <div class="rating">★★★★ (100 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">Extra sell</div>
            <img src="../asset/shop/khmer wedding2.webp" alt="Ardene Microfiber Tights">
            <h2> Traditional Khmer Clothing Set </h2>
            <p><span class="discount">$1300.50</span> $1199.99</p>
            <div class="rating">★★★★★ (2.790 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">Discount -50%</div>
            <img src="../asset/shop/shirt2.png" alt="Ardene Microfiber Tights">
            <h2>The Evergreen </h2>
            <p><span class="discount">$15.50</span> $7.25</p>
            <div class="rating">★★★ (50 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">New arrival</div>
            <img src="../asset/shop/dress1.jpg" alt="Ardene Microfiber Tights">
            <h2>The Audrey Dress</h2>
            <p><span class="discount">$25.50</span> $20.50</p>
            <div class="rating">★★★★ (578 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">Mega sell</div>
            <img src="../asset/shop/khmer wedding1.webp" alt="Ardene Microfiber Tights">
            <h2> Traditional Khmer Clothing Set </h2>
            <p><span class="discount">$1400.50</span> $1199.99</p>
            <div class="rating">★★★★ (5.650 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">Best seller</div>
            <img src="../asset/shop/shirt3.jpg" alt="Ardene Microfiber Tights">
            <h2> Essential Black Oxford Shirt</h2>
            <p><span class="discount">$25.50</span> $20.50</p>
            <div class="rating">★★★★ (1.269 Review)</div>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <div class="badge new">Best seller</div>
            <img src="../asset/shop/kimono shirt.jpg" alt="Ardene Microfiber Tights">
            <h2>Soaring Crane Jacket</h2>
            <p><span class="discount">$20.50</span> $15.50</p>
            <div class="rating">★★★★ (1.908 Review)</div>
            <button>Buy Now</button>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Menu</h3>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./shop.html">Shop</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./Contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">New arrivals</a></li>
                    <li><a href="men.html">Men</a></li>
                    <li><a href="women.html">Women</a></li>
                    <li><a href="kids.html">Kids</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Contact Support</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Social Media</h3>
                <ul>
                    <li><i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a></li>
                    <li><i class='bx bxl-twitter' ></i><a href="#">Twitter</a></li>
                    <li><i class='bx bxl-instagram' ></i><a href="#">Instagram</a></li>
                    <li><i class='bx bxl-pinterest'></i><a href="#">Pinterest</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
