<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/view-collection.css">

</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="filter-section">
                <h1>Categories</h1>
                <ul class="categories">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="men.html">Men</a></li>
                    <li><a href="women.html">Women</a></li>
                    <li><a href="kids.html">Kids</a></li>
                    <li><a href="#">New arrivals</a></li>
                    <li><a href="#">Best seller</a></li>
                    <li><a href="#">Other...</a></li>
                </ul>
            </div>
            <div class="filter-section">
                <h2>Color</h2>
                <div class="colors">
                    <div class="color-box" style="background-color: white;"></div>
                    <div class="color-box" style="background-color: gray;"></div>
                    <div class="color-box" style="background-color: black;"></div>
                    <div class="color-box" style="background-color: red;"></div>
                    <div class="color-box" style="background-color: green;"></div>
                    <div class="color-box" style="background-color: blue;"></div>
                </div>
            </div>
            <div class="filter-section">
                <h3>Size Option</h3>
                <div class="sizes">
                    <span class="size-box">S</span>
                    <span class="size-box">M</span>
                    <span class="size-box">L</span>
                    <span class="size-box">XL</span>
                    <span class="size-box">XXL</span>
                </div>
            </div>
        </aside>
        <!-- Product Section -->
        <main class="product-grid">
            <div class="product-card">
                <div class="badge new">Best seller</div>
                <img src="../asset/view-clt/dres.avif" alt="Product Image">
                <h2>The Modern Victorian Dress </h2>
                <p>$20</p>
                <div class="rating">★★★☆ (2.269 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card ">
                <div class="badge new">Discount 50%</div>
                <img src="../asset/view-clt/girl shirt.avif" alt="Product Image">
                <h2>Polished Princess Shirt Dress</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (469 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">Promotion</div>
                <img src="../asset/view-clt/boy-slim.jpg" alt="Product Image">
                <h2>Classic Black Button-Down Shirt</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (169 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">New arrival</div>
                <img src="../asset/view-clt/wedding dress2.webp" alt="Product Image">
                <h2>White Blossom Formal Dress</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (5.769 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">New arrival</div>
                <img src="../asset/view-clt/shirt.png" alt="Product Image">
                <h2>Blacik shirt</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (219 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge sale">Best seller</div>
                <img src="../asset/view-clt/wedding dress3.webp" alt="Product Image">
                <h2>Silver Moonlight Ball Gown</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (10.299 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge sale">New arrival</div>
                <img src="../asset/view-clt/truman1.avif" alt="Product Image">
                <h2>Nomad Cargo Pants</h2>
                <p>$220</p> 
                <div class="rating">★★★☆ (69 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge sale">Discount 20%</div>
                <img src="../asset/view-clt/trukids2.webp" alt="Product Image">
                <h2> Chompy Cargo Shorts</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (569 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge sale">New arrival</div>
                <img src="../asset/view-clt/hoodia shark.jpg" alt="Product Image">
                <h2>Shark hoodia</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (969 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge sale">Best Seller</div>
                <img src="../asset/view-clt/wedding dress4.avif" alt="Product Image">
                <h2> Azure Lace Flower Girl Dress </h2>
                <p>$220</p>
                <div class="rating">★★★☆ (9.269 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">New arrival</div>
                <img src="../asset/view-clt/hoodia pink.jpg" alt="Product Image">
                <h2>White hoodia</h2>
                <p>$220</p>
                <div class="rating">★★★☆ (369 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">Best seller</div>
                <img src="../asset/view-clt/shirt young.avif" alt="Product Image">
                <h2> Headline Stealer</h2>
                <p>$220</p>
                <div class="rating">★★★★☆ (5.269 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">best seller</div>
                <img src="../asset/view-clt/hoodie.avif" alt="Product Image">
                <h2>Black hoodia</h2>
                <p>$220</p>
                <div class="rating">★★★★☆ (569 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">New arrival</div>
                <img src="../asset/view-clt/truwedding.webp" alt="Product Image">
                <h2> Refined Fit Dress Slacks</h2>
                <p>$220</p>
                <div class="rating">★★★★☆ (869 Review)</div>
                <button>Add to cart</button>
            </div>

            <div class="product-card">
                <div class="badge new">Discount 50%</div>
                <img src="../asset/view-clt/1.jpg" alt="Product Image">
                <h2>The Tailored Navy Blazer</h2>
                <p>$220</p>
                <div class="rating">★★★★☆ (2.269 Review)</div>
                <button>Add to cart</button>
            </div>
            <!-- Add more products as needed -->
        </main>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Menu</h3>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="./shop.html">Shop</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./Contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">New arrivals</a></li>
                    <li><a href="men.html">Men</a></li>
                    <li><a href="women.html">Women</a></li>
                    <li><a href="kids.html">Kids</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Contact Support</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Social Media</h3>
                <ul>
                    <li><i class='bx bxl-facebook-circle'></i><a href="#">Facebook</a></li>
                    <li><i class='bx bxl-twitter' ></i><a href="#">Twitter</a></li>
                    <li><i class='bx bxl-instagram' ></i><a href="#">Instagram</a></li>
                    <li><i class='bx bxl-pinterest'></i><a href="#">Pinterest</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Wahala shop | Powered by Clothing Store</p>
        </div>
    </footer>
</body>
</html>
